.top-container {
  height: 1000px;
  width: 100%;
}

#top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#top-content img {
  width: 75%;
  height: 70%;
  position: relative;
  bottom: -20px;
}
#top-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#center-top-content {
  flex-direction: column-reverse;
  align-items: center;
}
#center-top-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 40px;
}
#center-center-content {
  flex-direction: column;
  align-items: center;
}
#center-center-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding: 40px;
}

#center-center-content img {
  padding: 0;
  margin-left: 0;
  width: 45%;
}
#center-bottom-content {
  flex-direction: column-reverse;
  align-items: center;
}
#center-bottom-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 40px;
}
#question-part {
  width: 80%;
  height: 230px;

  position: absolute;
  left: 10%;
  bottom: 85%;
  display: flex;
  justify-content: center;
}
#question-part div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#question-part h1 {
  font-size: 20px;
}
#question-part button {
  width: 200px;
  height: 45px;
  margin-top: 10px;
}
#footer {
  width: 100%;
  height: 840px;

  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-content {
  position: relative;
  flex-direction: column;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 200px;
}
#links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 40px;
  margin-top: 30px;
}
#links div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer-icon {
  display: flex;
  gap: 0px;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
}
.footer-icon-border {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
#footer-copyright {
  display: flex;
  align-items: center;
}
#footer-copyright span {
  font-size: 13px;
  color: white;
  opacity: 0.8;
  margin-top: 10px;
}
